# Adamo API
NEXT_PUBLIC_API_BASE_URL=

# Adamo services URLs
NEXT_PUBLIC_ADAMO_ID_URL=
NEXT_PUBLIC_ADAMO_SIGN_URL=
NEXT_PUBLIC_ADAMO_PAY_URL=
NEXT_PUBLIC_ADAMO_RISK_URL=

# WhatsApp contact URL
NEXT_PUBLIC_WHATSAPP_URL=